{%extends 'base.html'%} {%load static%} {%block title%}Acceuil{%endblock%}

<!-- Body -->
{%block content%}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>La Meilleur Solution Pour votre Business</h1>
        <h2>
          We are team of talented designers making websites with Bootstrap
        </h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="{% static 'assets/img/hero-img.png' %}"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
          <img
            src="{% static 'assets/img/h-about-img.jpg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Chez SOS Main d'oeuvre, nous sommes passionnés par l'aide aux
            entreprises dans leur recherche de nouveaux agents. Notre mission
            est de simplifier le processus de recrutement et de trouver les
            meilleurs talents pour répondre aux besoins uniques de chaque
            organisation. <br />
            <br />
            Nous comprenons l'importance de constituer une équipe solide et
            compétente pour assurer la croissance et le succès d'une entreprise.
            C'est pourquoi nous mettons à disposition notre expertise et notre
            vaste réseau de professionnels qualifiés pour vous aider à trouver
            les agents les plus adaptés à vos besoins spécifiques.
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          Chez SOS Main d'oeuvre, nous offrons une gamme complète de services
          visant à faciliter le processus de recrutement et à vous aider à
          trouver les agents les plus qualifiés pour votre entreprise. Nous
          comprenons que chaque organisation a des besoins uniques en matière de
          main-d'œuvre, c'est pourquoi nous nous efforçons de fournir des
          solutions sur mesure pour répondre à vos exigences spécifiques.
        </p>
      </div>

      <div class="row">
        <!-- 1st -->
        <div
          class="col-xl-6 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Mise en Relation avec des agents</a></h4>
            <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi
            </p>
          </div>
        </div>
        <!-- 2nd -->
        <div
          class="col-xl-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Placemment des agents</a></h4>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Team Section ======= -->
  <!-- <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="demande" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Faire une demande</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <form method="post" class="row g-3 was-validated">
        {% csrf_token %}
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">Nom</label>
          <input
            name="nom"
            type="text"
            class="form-control"
            id="validationServer01"
            required
          />
          <!-- <div class="valid-feedback">Looks good!</div> -->
        </div>
        <div class="col-md-4">
          <label for="validationServer02" class="form-label">Prenom</label>
          <input
            name="prenom"
            type="text"
            class="form-control"
            id="validationServer02"
            required
          />
          <!-- <div class="valid-feedback">Looks good!</div> -->
        </div>
        <div class="col-md-4">
          <label for="validationServerUsername" class="form-label">email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input
              name="email"
              type="email"
              class="form-control"
              id="validationServerUsername"
              aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
              required
            />
            <!-- <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationServer03" class="form-label">Societe</label>
          <input
            name="societe"
            type="text"
            class="form-control"
            id="validationServer03"
            aria-describedby="validationServer03Feedback"
            required
          />
          <!-- <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid city.
          </div> -->
        </div>
        <div class="col-md-6">
          <label for="validationServer04" class="form-label"
            >Choisir un Service</label
          >
          <select
            class="form-select"
            id="validationServer04"
            aria-describedby="validationServer04Feedback"
            required
          >
            <option selected disabled value="">Selectionner...</option>
            <option>Mise en Relation avec des agents</option>
            <option>Placemment des agents</option>
          </select>
          <!-- <div id="validationServer04Feedback" class="invalid-feedback">
            Please select a valid state.
          </div> -->
        </div>
        <br />
        <div class="col-12">
          <label for="message" class="form-label">Message</label>
          <br />
          <textarea name="message" id="" cols="90" rows="10"></textarea>
          <!-- <div id="validationServer05Feedback" class="invalid-feedback">
            Please provide a valid zip.
          </div> -->
        </div>
        <!-- <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input is-invalid"
              type="checkbox"
              value=""
              id="invalidCheck3"
              aria-describedby="invalidCheck3Feedback"
              required
            />
            <label class="form-check-label" for="invalidCheck3">
              Agree to terms and conditions
            </label>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div> -->
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>

      <!-- <div class="row"> -->
      <!-- <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Rue, Niamey, NY 535022</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>jobconnect@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+227 00000000</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0"
              style="border: 0; width: 100%; height: 290px"
              allowfullscreen
            ></iframe>
          </div>
        </div> -->

      <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div> -->
      <!-- </div> -->
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

{%endblock%}
